/* Navigation Bar  */

html {
    scroll-behavior: smooth;
}

#nav {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-color: #0D1821;
    font-family: 'Poppins', sans-serif;
}

#nav li {
    float: right;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #344966;
}

#nav li a:active {
    background-color: rgb(255, 255, 255);
    color:black;
}

/* Homepage and Index */

body{
    background-attachment: fixed;
    background-color: #ffffff;
    color: black;
    margin: 0;
    /* height: 100%; */
}

#home{
    height: 95vh;
    background-color: #344966;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0%;
    height: 600px;
    padding-bottom: 10px;
}

.pfp {
    max-width: 100%;
    max-height: 100%;
}

.intro {
    font-size: 20px;
    padding-right: 30px;
}

#bio {
    font-family:"Amarillo", sans-serif;
    font-style: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

ul#contact {
    padding-left: 0px;
    color:black;
}

ul#contact li{
    display: inline;
    color:black;
}

h2{
    font-family:"Abril Fatface", serif;
    margin-bottom: 0px;
}

h1{
    font-family:monospace;
    font-size: 75px;
    font-style: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* About Page */

h3{
    font-family:"Abril Fatface", serif;
    font-size: larger;
    margin-top: 0px;
    padding-top: 25px;
}

#title{
    font-size: 46px;
    text-align: center;
    color:black;
}

#about {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding-bottom: 10px;
    background-color: #0D1821;
}

#about-diamond {
    padding: 50px;
    text-align: center;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:larger;
    padding-top: 40px;
    padding-bottom: 5px;
}


/* Experience Page  */

#exp {
    height: 85vh;
    background-color: #344966;
    padding-top: 5px;
    /* margin-bottom:0px; */
}

.row1{
    display: flex;
    height: 200px;
    padding-bottom: 50px;
}

#job1 {
    width: 25%;
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-size: 30px;
    justify-content: center;
    padding-top:50px;
}

.h4{
    font-size: medium;
}

#info {
    text-align: left;
    background-color: white;
    width: 70%;
    font-family: 'Poppins', sans-serif;
    font-size:larger;
}

#job-info {
    border:solid black 1px;
    color:black;
    background-color: white;
}

/* Projects Page */

#projects {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding-bottom: 10px;
    /* margin-top: 0px; */
    background-color: #0D1821;
}

.grid-container {
    display: grid;
}

#card_container {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    width: 18rem;
}

.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-family:'Poppins', 'sans-serif';
    font-size: 12px;
    font-weight: 600;
    color: #788697
}

.name {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

#proj-info { 
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

.button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;

    margin: 0 auto;
    display: block;

    cursor: pointer;
}

button:focus, button:hover {
    background-color: #0077ff;
    color: #e0efff;
}

.card_details {
    padding: 16px 8px 8px 8px;
}

/* Footer */

footer {
    /* display: block; */
    background-color: #344966;
    color: white;
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    font-style: bold;
    padding-top: 5px;
    padding-bottom: 15px;
}