/* Navigation Bar  */

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(222, 222, 222);
}

#nav li {
    float: right;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: gray;
}

#nav li a:active {
    background-color: rgb(255, 255, 255);
    color:black;
}

/* Homepage and Index */

body{
    background-attachment: fixed;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

.pfp {
    max-width: 100%;
    max-height: 100%;
}

.intro {
    font-size: 20px;
    padding-right: 30px;
}

#bio {
    font-family:"Amarillo", sans-serif;
    margin-top: 0px;
}

ul#contact {
    padding-left: 0px;
    color:black;
}

ul#contact li{
    display: inline;
    color:black;
}

h2{
    font-family:"Amarillo", sans-serif;
    margin-bottom: 0px;
}

h1{
    font-family:monospace;
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* About Page */

#about {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about-diamond {
    border:solid black 1px;
    margin: 10px 400px 30px 400px;
    padding: 20px;
    text-align: center;
    position: relative;
    color:black;
}

.classes {
    border:solid black 1px;
    margin: 10px 400px 10px 400px;
    padding-right: 20px;
    position: relative;
    color:black;
}

.current-classes{
    display: inline-block;
    text-align: left;
}

/* #classes table{
    border:solid black 1px;
    margin: 10px 400px 10px 400px;
    padding: 10px;
    position: relative;
} */



#links {
    border:solid white 3px;
    margin: 0px 0px 10px 500px;
    padding: 10px;
    text-align: center;
    background-color:white;
    color:black;
}

#music {
    border:solid white 1px;
    margin: 25px 510px 25px 510px;
    padding: 0px;
    background-color:black;
    color:white;
    text-align:center;
}
#extracurriculars {
    border:solid white 1px;
    margin: 25px 510px 25px 510px;
    padding: 15px;
    background-color:white;
    color:black;
    
}
#school {
    border:solid white 3px;
    margin: 10px 575px 10px 575px;
    padding: 3px;
    text-align: center;
    background-color:white;
    color:black;
}
#volunteer {
    border:solid white 1px;
    margin: 25px 510px 25px 510px;
    padding: 15px;
    background-color:white;
    color:black;
}